.peopleContainer, .vehiclesContainer, .planetsContainer, .starshipsContainer {
    height: flex;
    width:auto;
    overflow-y:hidden;
    overflow-x:auto;
    white-space: nowrap;
    padding: 20px;
}

.peopleCards, .vehiclesCards, .planetsCards, .starshipsCards {
    height:100%;
    min-width:100px;
    display:inline-flex;
    vertical-align: top;
    justify-content: center;
}

.card {
    margin: 10px;
}

.btn-outline-warning {
    float: right;
}

.dropdown {
    margin-right: 10px;
}

.logo {
    height: 70px;
    margin-left: 10px;
}

